.homepage {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.homepage .div {
  background-color: #ffffff;
  height: 5725px;
  position: relative;
  width: 1440px;
}

.homepage .text-wrapper {
  color: #282828;
  font-family: "Poppins", Helvetica;
  font-size: 64px;
  font-weight: 600;
  height: 80px;
  left: 517px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1129px;
  width: 406px;
}

.homepage .overlap {
  height: 1029px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.homepage .main-section {
  background-color: #f1f7ff;
  height: 980px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.homepage .overlap-group {
  height: 519px;
  left: 80px;
  position: absolute;
  top: 288px;
  width: 1360px;
}

.homepage .overlap-group-2 {
  height: 519px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1360px;
}

.homepage .engineering-office {
  color: transparent;
  font-family: "Poppins", Helvetica;
  font-size: 64px;
  font-weight: 600;
  height: 200px;
  left: 0;
  letter-spacing: 0;
  line-height: 96px;
  position: absolute;
  top: 17px;
  width: 548px;
}

.homepage .span {
  color: #282828;
}

.homepage .text-wrapper-2 {
  color: #2171e8;
}

.homepage .ARROW {
  height: 185px;
  left: 415px;
  position: absolute;
  top: 0;
  width: 259px;
}

.homepage .image {
  height: 434px;
  left: 515px;
  object-fit: cover;
  position: absolute;
  top: 85px;
  width: 845px;
}

.homepage .frame {
  align-items: center;
  background-color: #2171e8;
  border-radius: 24px;
  display: flex;
  gap: 8px;
  height: 48px;
  justify-content: center;
  left: 0;
  padding: 18px 68px;
  position: absolute;
  top: 268px;
  width: 242px;
}

.homepage .text-wrapper-3 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: -2.5px;
  margin-left: -30.5px;
  margin-right: -30.5px;
  margin-top: -4.5px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.homepage .find-us-on-google {
  height: 83px;
  left: 0;
  position: absolute;
  top: 350px;
  width: 180px;
}

.homepage .p {
  color: #1f3b6080;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.homepage .google-maps {
  height: 50px;
  left: -1px;
  position: absolute;
  top: 34px;
  width: 175px;
}

.homepage .header {
  background-color: transparent;
  height: 92px;
  left: 0;
  position: absolute;
  top: 78px;
  width: 1440px;
}

.homepage .navbar {
  align-items: flex-start;
  display: inline-flex;
  gap: 32px;
  left: 80px;
  position: absolute;
  top: 39px;
}

.homepage .text-wrapper-4 {
  color: #282828;
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 14px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.homepage .text-wrapper-5 {
  color: #2171e8;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 600;
  height: 14px;
  left: 853px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 37px;
  white-space: nowrap;
}

.homepage .line {
  height: 22px;
  left: 1030px;
  object-fit: cover;
  position: absolute;
  top: 34px;
  width: 1px;
}

.homepage .btn {
  all: unset;
  align-items: center;
  background-color: #e5efff;
  border-radius: 24px;
  box-sizing: border-box;
  display: inline-flex;
  gap: 8px;
  justify-content: center;
  left: 1050px;
  padding: 12px 28px;
  position: absolute;
  top: 26px;
}

.homepage .text-wrapper-6 {
  color: #2171e8;
  font-family: "Poppins", Helvetica;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.homepage .div-wrapper {
  all: unset;
  align-items: center;
  background-color: #2171e8;
  border-radius: 24px;
  box-sizing: border-box;
  display: inline-flex;
  gap: 8px;
  justify-content: center;
  left: 1172px;
  padding: 12px 28px;
  position: absolute;
  top: 26px;
}

.homepage .text-wrapper-7 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.homepage .t-v-s-d-AUTO-PARTNER {
  color: #2171e8;
  font-family: "Poppins", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 28px;
  left: 318px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 23px;
}

.homepage .heinrich-pesch-str {
  color: #282828;
  font-family: "Poppins", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 28px;
  left: 973px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  text-decoration: underline;
  top: 23px;
}

.homepage .mon-fri {
  color: #282828;
  font-family: "Poppins", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 14px;
  left: 1117px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 30px;
  white-space: nowrap;
}

.homepage .img {
  height: 22px;
  left: 1101px;
  object-fit: cover;
  position: absolute;
  top: 27px;
  width: 1px;
}

.homepage .line-2 {
  height: 22px;
  left: 1248px;
  object-fit: cover;
  position: absolute;
  top: 27px;
  width: 1px;
}

.homepage .broken-map-location {
  height: 20px !important;
  left: 945px !important;
  position: absolute !important;
  top: 28px !important;
  width: 20px !important;
}

.homepage .group {
  height: 24px;
  left: 80px;
  position: absolute;
  top: 26px;
  width: 200px;
}

.homepage .ingenieurteam {
  height: 15px;
  left: 38px;
  position: absolute;
  top: 5px;
  width: 162px;
}

.homepage .ST {
  height: 24px;
  left: 0;
  position: absolute;
  top: 0;
  width: 33px;
}

.homepage .social-pages {
  height: 24px;
  left: 1264px;
  position: absolute;
  top: 26px;
  width: 96px;
}

.homepage .instagram {
  border: 1.2px solid;
  border-color: #282828;
  border-radius: 12px;
  height: 24px;
  left: 72px;
  position: absolute;
  top: 0;
  width: 24px;
}

.homepage .instagram-original {
  height: 10px !important;
  left: 6px !important;
  position: absolute !important;
  top: 6px !important;
  width: 10px !important;
}

.homepage .tik-tok {
  border: 1.2px solid;
  border-color: #282828;
  border-radius: 12px;
  height: 24px;
  left: 36px;
  position: absolute;
  top: 0;
  width: 24px;
}

.homepage .tik-tok-2 {
  height: 10px;
  left: 6px;
  position: absolute;
  top: 6px;
  width: 9px;
}

.homepage .facebook {
  border: 1.2px solid;
  border-color: #282828;
  border-radius: 12px;
  height: 24px;
  left: 0;
  position: absolute;
  top: 0;
  width: 24px;
}

.homepage .facebook-2 {
  height: 10px;
  left: 8px;
  position: absolute;
  top: 6px;
  width: 6px;
}

.homepage .booking {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #f1f7ff;
  border-radius: 24px;
  box-shadow: var(--card-shadow);
  height: 98px;
  left: 80px;
  overflow: hidden;
  position: absolute;
  top: 931px;
  width: 1280px;
}

.homepage .location {
  height: 49px;
  left: 92px;
  position: absolute;
  top: 25px;
  width: 70px;
}

.homepage .text-wrapper-8 {
  color: #282828;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 600;
  height: 24px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -1px;
}

.homepage .text-wrapper-9 {
  color: #2171e8;
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 21px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-decoration: underline;
  top: 27px;
}

.homepage .date {
  height: 49px;
  left: 346px;
  position: absolute;
  top: 25px;
  width: 77px;
}

.homepage .select-a-service {
  height: 49px;
  left: 599px;
  position: absolute;
  top: 25px;
  width: 127px;
}

.homepage .line-3 {
  height: 52px;
  left: 224px;
  object-fit: cover;
  position: absolute;
  top: 23px;
  width: 31px;
}

.homepage .line-4 {
  height: 52px;
  left: 485px;
  object-fit: cover;
  position: absolute;
  top: 23px;
  width: 31px;
}

.homepage .bold-map-location {
  height: 24px !important;
  left: 38px !important;
  position: absolute !important;
  top: 37px !important;
  width: 24px !important;
}

.homepage .bold-time-calendar {
  height: 24px !important;
  left: 292px !important;
  position: absolute !important;
  top: 37px !important;
  width: 24px !important;
}

.homepage .bold-transport-parts {
  height: 24px !important;
  left: 545px !important;
  position: absolute !important;
  top: 37px !important;
  width: 24px !important;
}

.homepage .button {
  all: unset;
  align-items: center;
  background-color: #2171e8;
  border-radius: 24px;
  box-sizing: border-box;
  display: inline-flex;
  gap: 8px;
  justify-content: center;
  left: 1054px;
  padding: 12px 28px;
  position: absolute;
  top: 28px;
}

.homepage .overlap-2 {
  height: 798px;
  left: 0;
  position: absolute;
  top: 4927px;
  width: 1440px;
}

.homepage .map {
  height: 410px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.homepage .overlap-group-wrapper {
  background-color: #3e3131;
  border-radius: 24px 24px 42px 42px;
  height: 320px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 90px;
  width: 1440px;
}

.homepage .bold-map-location-wrapper {
  background-image: url(https://c.animaapp.com/zbVyMyyH/img/screenshot-2023-09-04-at-22-15-1.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 320px;
  position: relative;
}

.homepage .bold-map-location-map-point {
  height: 48px !important;
  left: 568px !important;
  position: absolute !important;
  top: 53px !important;
  width: 48px !important;
}

.homepage .google-maps-2 {
  height: 50px;
  left: 607px;
  position: absolute;
  top: -1px;
  width: 175px;
}

.homepage .footer {
  background-color: #1e242d;
  border-radius: 24px 24px 0px 0px;
  height: 520px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 278px;
  width: 1440px;
}

.homepage .instagram-original-wrapper {
  border: 1.2px solid;
  border-color: #ffffff;
  border-radius: 18px;
  height: 36px;
  left: 1324px;
  position: absolute;
  top: 450px;
  width: 36px;
}

.homepage .instagram-original-instance {
  height: 15px !important;
  left: 9px !important;
  position: absolute !important;
  top: 9px !important;
  width: 15px !important;
}

.homepage .tik-tok-wrapper {
  border: 1.2px solid;
  border-color: #ffffff;
  border-radius: 18px;
  height: 36px;
  left: 1268px;
  position: absolute;
  top: 450px;
  width: 36px;
}

.homepage .tik-tok-3 {
  height: 15px;
  left: 10px;
  position: absolute;
  top: 9px;
  width: 13px;
}

.homepage .facebook-wrapper {
  border: 1.2px solid;
  border-color: #ffffff;
  border-radius: 18px;
  height: 36px;
  left: 1212px;
  position: absolute;
  top: 450px;
  width: 36px;
}

.homepage .facebook-3 {
  height: 15px;
  left: 12px;
  position: absolute;
  top: 9px;
  width: 9px;
}

.homepage .text-wrapper-10 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 500;
  height: 22px;
  left: 80px;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.5;
  position: absolute;
  top: 458px;
  width: 208px;
}

.homepage .heinrich-pesch-str-2 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 24px;
  font-weight: 400;
  height: 92px;
  left: 1070px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 59px;
  width: 290px;
}

.homepage .text-wrapper-11 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
}

.homepage .text-wrapper-12 {
  font-weight: 500;
}

.homepage .mon-fir {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 24px;
  font-weight: 400;
  height: 32px;
  left: 1100px;
  letter-spacing: 0;
  line-height: 32px;
  position: absolute;
  text-align: right;
  top: 261px;
  white-space: nowrap;
  width: 260px;
}

.homepage .text-wrapper-13 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 24px;
  font-weight: 400;
  height: 32px;
  left: 1088px;
  letter-spacing: 0;
  line-height: 32px;
  position: absolute;
  text-align: right;
  top: 183px;
  white-space: nowrap;
  width: 272px;
}

.homepage .col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 24px;
  left: 548px;
  overflow: hidden;
  position: absolute;
  top: 74px;
  width: 179px;
}

.homepage .text-wrapper-14 {
  color: var(--default-white);
  font-family: "Poppins", Helvetica;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 30px;
  margin-right: -1px;
  margin-top: -1px;
  position: relative;
  width: 180px;
}

.homepage .list-items {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 18px;
  position: relative;
}

.homepage .text-wrapper-15 {
  color: #ffffff80;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  width: 160px;
}

.homepage .text-wrapper-16 {
  color: #ffffff80;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  width: 160px;
}

.homepage .col-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 24px;
  left: 767px;
  overflow: hidden;
  position: absolute;
  top: 74px;
  width: 179px;
}

.homepage .line-5 {
  height: 1px;
  left: 80px;
  object-fit: cover;
  position: absolute;
  top: 416px;
  width: 1280px;
}

.homepage .t-v-s-d-AUTO-PARTNER-2 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 36px;
  left: 80px;
  letter-spacing: 0;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  top: 153px;
  width: 290px;
}

.homepage .btn-2 {
  all: unset;
  align-items: center;
  background-color: #2171e8;
  border-radius: 90px;
  box-sizing: border-box;
  display: inline-flex;
  gap: 8px;
  justify-content: center;
  left: 80px;
  padding: 12px 28px;
  position: absolute;
  top: 227px;
}

.homepage .logo {
  height: 24px;
  left: 80px;
  position: absolute;
  top: 92px;
  width: 200px;
}

.homepage .outline-map-location {
  height: 32px !important;
  left: 1031px !important;
  position: absolute !important;
  top: 74px !important;
  width: 32px !important;
}

.homepage .outline-call-phone {
  height: 32px !important;
  left: 1031px !important;
  position: absolute !important;
  top: 184px !important;
  width: 32px !important;
}

.homepage .outline-time-clock {
  height: 32px !important;
  left: 1031px !important;
  position: absolute !important;
  top: 264px !important;
  width: 32px !important;
}

.homepage .car-brands {
  height: 313px;
  left: 166px;
  position: absolute;
  top: 2673px;
  width: 1108px;
}

.homepage .our-work {
  height: 658px;
  left: 80px;
  position: absolute;
  top: 3124px;
  width: 1280px;
}

.homepage .description-wrapper {
  background-image: url(https://c.animaapp.com/zbVyMyyH/img/img-2.svg);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 24px;
  height: 520px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 138px;
  width: 400px;
}

.homepage .description {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(34, 113, 233) 100%);
  height: 180px;
  position: relative;
  top: 340px;
}

.homepage .text-wrapper-17 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 600;
  height: 26px;
  left: 20px;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  top: 75px;
  width: 346px;
}

.homepage .text-wrapper-18 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 500;
  height: 24px;
  left: 19px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 118px;
}

.homepage .img-2 {
  background-image: url(https://c.animaapp.com/zbVyMyyH/img/img-1.svg);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 24px;
  height: 520px;
  left: 440px;
  overflow: hidden;
  position: absolute;
  top: 138px;
  width: 400px;
}

.homepage .description-2 {
  background: linear-gradient(180deg, rgba(26, 37, 46, 0) 0%, rgb(26, 37, 46) 100%);
  height: 180px;
  position: relative;
  top: 340px;
}

.homepage .text-wrapper-19 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 500;
  height: 24px;
  left: 17px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 118px;
}

.homepage .img-3 {
  background-image: url(https://c.animaapp.com/zbVyMyyH/img/img.svg);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 24px;
  height: 520px;
  left: 880px;
  overflow: hidden;
  position: absolute;
  top: 138px;
  width: 400px;
}

.homepage .text-wrapper-20 {
  color: #282828;
  font-family: "Poppins", Helvetica;
  font-size: 64px;
  font-weight: 600;
  height: 80px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -1px;
  width: 1280px;
}

.homepage .nav {
  height: 2px;
  left: 577px;
  position: absolute;
  top: 716px;
  width: 126px;
}

.homepage .rectangle {
  background-color: #2171e8;
  border-radius: 90px;
  height: 2px;
  left: 0;
  position: absolute;
  top: 0;
  width: 22px;
}

.homepage .rectangle-2 {
  background-color: #e1edfe;
  border-radius: 90px;
  height: 2px;
  left: 35px;
  position: absolute;
  top: 0;
  width: 22px;
}

.homepage .rectangle-3 {
  background-color: #e1edfe;
  border-radius: 90px;
  height: 2px;
  left: 69px;
  position: absolute;
  top: 0;
  width: 22px;
}

.homepage .rectangle-4 {
  background-color: #e1edfe;
  border-radius: 90px;
  height: 2px;
  left: 104px;
  position: absolute;
  top: 0;
  width: 22px;
}

.homepage .text-wrapper-21 {
  color: #282828;
  font-family: "Poppins", Helvetica;
  font-size: 64px;
  font-weight: 600;
  height: 80px;
  left: 80px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 3969px;
  width: 1280px;
}

.homepage .input-field {
  height: 94px;
  left: 430px;
  position: absolute;
  top: 4124px;
  width: 580px;
}

.homepage .frame-2 {
  background-color: #fafcff;
  border: 1px solid;
  border-color: #cee1ff;
  border-radius: 16px;
  height: 68px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 26px;
  width: 580px;
}

.homepage .text-wrapper-22 {
  color: #2828287d;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 20px;
  left: 22px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 23px;
  width: 134px;
}

.homepage .text-wrapper-23 {
  color: #282828;
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  font-weight: 500;
  height: 14px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -1px;
  white-space: nowrap;
  width: 76px;
}

.homepage .input-field-2 {
  height: 94px;
  left: 430px;
  position: absolute;
  top: 4240px;
  width: 580px;
}

.homepage .input-field-3 {
  height: 94px;
  left: 430px;
  position: absolute;
  top: 4356px;
  width: 580px;
}

.homepage .text-wrapper-24 {
  color: #2828287d;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 20px;
  left: 22px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 23px;
  width: 131px;
}

.homepage .outline-arrows-alt {
  height: 24px !important;
  left: 534px !important;
  position: absolute !important;
  top: 22px !important;
  width: 24px !important;
}

.homepage .input-field-4 {
  height: 94px;
  left: 430px;
  position: absolute;
  top: 4472px;
  width: 580px;
}

.homepage .text-wrapper-25 {
  color: #282828;
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  font-weight: 500;
  height: 14px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -1px;
  white-space: nowrap;
  width: 109px;
}

.homepage .btn-3 {
  all: unset;
  background-color: #2171e8;
  border-radius: 16px;
  box-sizing: border-box;
  height: 76px;
  left: 430px;
  overflow: hidden;
  position: absolute;
  top: 4600px;
  width: 580px;
}

.homepage .text-wrapper-26 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 17px;
  font-weight: 600;
  height: 22px;
  left: 225px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 26px;
  width: 129px;
}

.homepage .text-wrapper-27 {
  color: #282828;
  font-family: "Poppins", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 92px;
  left: 430px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 4697px;
  width: 580px;
}

.homepage .go-to-the-services {
  height: 24px;
  left: 612px;
  position: absolute;
  top: 2528px;
  width: 215px;
}

.homepage .text-wrapper-28 {
  color: #2171e8;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 500;
  height: 24px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -1px;
  width: 191px;
}

.homepage .outline-arrows-arrow {
  height: 18px !important;
  left: 197px !important;
  position: absolute !important;
  top: 3px !important;
  width: 18px !important;
}

.homepage .change-acceptances {
  height: 559px;
  left: 190px;
  position: absolute;
  top: 1290px;
  width: 510px;
}

.homepage .image-2 {
  background-image: url(https://c.animaapp.com/zbVyMyyH/img/image-3.svg);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 34px 34px 0px 0px;
  height: 279px;
  left: 0;
  position: absolute;
  top: 0;
  width: 510px;
}

.homepage .information {
  background-color: #f1f7ff;
  border-radius: 0px 0px 34px 34px;
  height: 280px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 279px;
  width: 510px;
}

.homepage .text-wrapper-29 {
  color: #7f8286;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 90px;
  left: 30px;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  top: 87px;
  width: 440px;
}

.homepage .text-wrapper-30 {
  color: #282828;
  font-family: "Poppins", Helvetica;
  font-size: 24px;
  font-weight: 600;
  height: 42px;
  left: 30px;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  top: 33px;
  width: 352px;
}

.homepage .btn-4 {
  all: unset;
  align-items: center;
  background-color: #2171e8;
  border-radius: 24px;
  box-sizing: border-box;
  display: inline-flex;
  gap: 8px;
  justify-content: center;
  left: 30px;
  padding: 12px 28px;
  position: absolute;
  top: 199px;
}

.homepage .change-acceptances-2 {
  height: 559px;
  left: 190px;
  position: absolute;
  top: 1889px;
  width: 510px;
}

.homepage .image-3 {
  background-image: url(https://c.animaapp.com/zbVyMyyH/img/image-2.svg);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 34px 34px 0px 0px;
  height: 279px;
  left: 0;
  position: absolute;
  top: 0;
  width: 510px;
}

.homepage .text-wrapper-31 {
  color: #7f8286;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 108px;
  left: 30px;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  top: 80px;
  width: 440px;
}

.homepage .text-wrapper-32 {
  color: #282828;
  font-family: "Poppins", Helvetica;
  font-size: 24px;
  font-weight: 600;
  height: 42px;
  left: 30px;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  top: 33px;
  width: 450px;
}

.homepage .btn-5 {
  all: unset;
  align-items: center;
  background-color: #2171e8;
  border-radius: 24px;
  box-sizing: border-box;
  display: inline-flex;
  gap: 8px;
  justify-content: center;
  left: 30px;
  padding: 12px 28px;
  position: absolute;
  top: 204px;
}

.homepage .inspection {
  height: 559px;
  left: 740px;
  position: absolute;
  top: 1290px;
  width: 510px;
}

.homepage .image-4 {
  background-image: url(https://c.animaapp.com/zbVyMyyH/img/image-1.svg);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 34px 34px 0px 0px;
  height: 279px;
  left: 0;
  position: absolute;
  top: 0;
  width: 510px;
}

.homepage .inspection-2 {
  height: 559px;
  left: 740px;
  position: absolute;
  top: 1889px;
  width: 510px;
}

.homepage .image-5 {
  background-image: url(https://c.animaapp.com/zbVyMyyH/img/image.svg);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 34px 34px 0px 0px;
  height: 279px;
  left: 0;
  position: absolute;
  top: 0;
  width: 510px;
}
